    <div class="main">
        <app-navbar></app-navbar>
        
        <app-details [items]="details"></app-details>

        <div class="text-title">Hoteis</div>
        <app-offer [items]="hotelItems"></app-offer>

        <div class="text-title">Gastronomia</div>
        <app-offer [items]="gastronomyItems"></app-offer>
        
        <div class="text-title">Tortas</div>
        <app-offer [items]="foodItems"></app-offer>
        
        <div class="text-title">Entretenimento</div>
        <app-offer [items]="funItems"></app-offer>
        
        <div class="text-title">Saúde</div>
        <app-offer [items]="healthItems"></app-offer>
        
        <div class="text-title">Serviços</div>
        <app-offer [items]="serviceItems"></app-offer>
    </div>